body {
    max-width: 100%;
    background-color: #f5f5f5;
    position: relative;
    margin: 0;
    line-height: 27px;
    font-weight: normal;
    color: #676767;
    font-family: 'Source Serif Pro', serif;
}

body a {
    color: #9f1719;
}

.wrapper {
  position: relative;
  max-width: 100%; 
}

.container {
    padding: 10px 0 10px 0;
    position: relative;
    width: 100%;
    background-color: white; 
}

.headerLogo {
    left:0;
    top:0;
    padding: 0 10px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    position: relative;
}

.about_wrapper, .mission_wrapper {
    margin: 0;
    border: 0; 
    display: block;
    margin-top: 70px;
    background-color: #fbfbfb;
    width: auto;
}

.about_wrapper, .sisterOrg {
margin-top: 0;
background-color: #f5f5f5
}

.sisterOrg {
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 10px;
}

.about_content, .mission_content {
    padding: 50px 132px 50px 132px;
}

.footer {
    color: #ccc;
    position: relative;
    z-index: 10;
    background-color: #252525;
    height: 45px;
    width: auto;
}

h1 {
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 24px;
    text-align: center;
}

p {
    font-size: 16px;
}

@media only screen and (max-width: 736px) {
    img {
        max-width: 70%;
      }
      
    .container, .headerLogo {
        left:0;
        top:0;
        width: auto;     
    }

    .mission_wrapper {
        margin: 20px 0 0 0;
        padding: 0;
    }

    .about_content, .mission_content {
        padding: 10px 8px 0 8px;
    }

    .about_wrapper {
        margin-top: -20px;
    }
    
    .sisterOrg {
        padding: 0 10px 0 10px;
    }
    
}