
* {
    font-family: sans-serif;
}

#header-outer[data-using-secondary="1"] {
    top: 0px;
}

strong { font-weight: bold; 
}

.container-wrap, .project-title {
    padding-bottom: 0;
}

body a {
    color: #9f1719;
}

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .container-wrap, .project-title {
        padding-top: 0;
    }

}
