body {
  max-width: 100%;
  background-color: #f5f5f5;
  position: relative;
  margin: 0;
  line-height: 27px;
  font-weight: normal;
  color: #676767;
  font-family: "Source Serif Pro", serif;
}

#root a {
  color: #9f1719;
}

#root .content {
  /* height: stretch; */
}

#root .spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.navbar-toggler {
   position: fixed;
   margin-right: 15px;
   right: 0;
}

.wrapper {
  position: relative;
  max-width: 100%;
}

.container {
  padding: 10px 0 10px 0;
  position: relative;
  width: 100%;
  background-color: white;
}

/* nav {
  left: 0;
  top: 0;
  padding: 0 7% 0 7%;
  position: fixed;
  z-index: 1;
  width: 86%;
  background-color: white;
  display: grid;
  grid-template-columns: 90% 10%;
} */

/* .links {
  line-height: 4em;
  text-align: right;
} */

#App {

}

.content {
  position: relative;
}

.about_wrapper,
.mission_wrapper,
.team_wrapper {
  margin: 0;
  border: 0;
  display: block;
  background-color: #fbfbfb;
  width: auto;
}

.focus-areas{
  margin-top: 50px;

}
.about_wrapper,
.sisterOrg {
  margin-top: 0;
  background-color: #f5f5f5;
}

.sisterOrg {
  margin-bottom: 0;
  text-align: center;
  padding-bottom: 10px;
}

.about_content,
.mission_content,
.team_content {
  padding: 50px 5% 50px 5%;
}

.footer {
  color: #ccc;
  position: relative;
  z-index: 10;
  background-color: #252525;
  height: 45px;
  width: auto;
}

h1,
h2 {
  text-align: center;
}
h2{
  margin-bottom: 30px;
  margin-top: 25px;
}
h3{
  margin-top: 30px;
  margin-bottom: 15px;
}

li {
  margin-bottom: 13px;
}

.masonry {
  column-count: 3;
  column-gap: 8%;
}

.team_member {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.team_member img {
  width: 100%;
}

.team_member h4 {
  margin: 15px 0 0 0;
}

.team_member .position {
  font-size: 15px;
}

.team_member .description {
  padding: 15px 0;
  margin: 15px 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  min-height: 300px;
}

@media only screen and (max-width: 736px) {
  .default-logo {
    max-width: 70%;
  }

  .container,
  .headerLogo {
    left: 0;
    top: 0;
    width: auto;
  }

  .mission_wrapper {
    margin: 20px 0 0 0;
    padding: 0;
  }

  .about_content,
  .mission_content,
  .team_content {
    padding: 10px 8px 0 8px;
  }

  .masonry {
    column-gap: 1em;
  }

  .about_wrapper {
    margin-top: -20px;
  }

  .sisterOrg {
    padding: 0 10px 0 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .masonry {
    column-count: 2;
  }
}

@media only screen and (max-width: 425px) {
  .masonry {
    column-count: unset;
  }
}
